<!DOCTYPE html>
<html>
  <head>
    <title>Jonatas Daniel Hermann</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'jquery-2.1.4.min' %>
    <%= javascript_include_tag 'theia-sticky-sidebar' %>
    <%= javascript_include_tag 'scripts' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
